<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.hcus_hhinterview">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- android:name="Common.MyApplication" -->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">
        <activity
            android:name=".SettingForm"
            android:label="Device Setting" />
        <activity
            android:name=".MainMenu"
            android:label="Main Menu" />
        <activity
            android:name="navigationDrawer.NavigationActivity"
            android:label="Nav" />
        //Android Manifest Code
        <activity
            android:name=".Splash_Screen"
            android:label="@string/app_name"
            android:theme="@style/CustomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //Activity
        <activity android:name=".LoginActivity" />
        <activity android:name=".RecycleActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".StructureListing_list" />
        <activity android:name=".StructureListing" />
        <activity android:name=".Cluster_Structure_list" />
        <activity android:name=".Cluster_Structure" />
        <activity android:name=".Household_Visit" />
        <activity android:name=".Household_Visit_list" />
        <activity android:name=".Household_Interview" />
        <activity android:name=".Knowledge_DSH_SSF" />
        <activity android:name=".Member" />
        <activity android:name=".Member_list" />
        <activity android:name=".TyphoidCase" />
        <activity android:name=".MeningitisCase" />
        <activity android:name=".PneumoniaCase" />
        <activity android:name=".OtitisMediaCase" />
        <activity android:name=".DiarrhoeaCase" />
        <activity android:name=".EmergencyOperation" />
        <activity android:name=".ChildForm_Menu" />
        <activity android:name=".Immunization_Master" />
        <activity android:name=".Immunization_History" />
        <activity android:name=".Immunization_History_list" />
        <activity android:name=".Immunization_List" />
        //Service
        <service android:name=".DataSyncService" />
        <service android:name=".Sync_Service" />


    </application>

</manifest>